/*section bloc-projet1*/
section.bloc-projet1 {
    background-color: red;/*couleur fond*/
    width: 30%;/* largeur*/
    height:930px;/*hauteur*/
    
}
/*titre image texte de description*/
.projet1 , .Capture-ecran1, .texte-projet1 {
    width:100% ;/*hauteur*/
}
/*bouton cree*/
.bouton-cree {
    padding: 10px;/*espacement*/
    width: 35%;/*largeur*/
    border-radius: 30px;
}
/* icon corbeille et crayon */
.corbeille ,.modif {
    width: 5%;/*largeur*/
    padding: 10px;/*espacement*/
}
