/*section bloc-projet1*/
section.bloc-projet1 {
    background-color: red;/*couleur fond*/
    width: 30%;/* largeure*/
    height:930px;/*hauteure*/
    
}
/*titre image texte de description*/
.projet1 , .Capture-ecran1, .texte-projet1 {
    width:100% ;/*hauteure*/
}
/*bouton cree*/
.bouton-cree {
    padding: 10px;/*espacement*/
    width: 35%;/*largeure*/
    border-radius: 30px;
}
/* icon corbeille et crayon */
.corbeille ,.modif {
    width: 5%;/*largeure*/
    padding: 10px;/*espacement*/
}

