/* Style pour le "hero header" */
.hero-header {
    background-image: url('../images/developpeur-web.jpg'); /* Image de fond pour le hero header */
    background-size: cover; /* Assure que l'image de fond couvre tout le header */
    background-position: center; /* Centre l'image de fond */
    height: 100vh; /* Hauteur de 100% de la fenêtre */
    width: 100%; /* Largeur de 100% de la fenêtre */
    color: white; /* Couleur du texte en blanc */
    display: flex; /* Utilise flexbox pour centrer le contenu */
    align-items: center; /* Centre verticalement le contenu */
    justify-content: center; /* Centre horizontalement le contenu */
    text-align: center; /* Centre le texte */
    position: relative; /* Positionne le header de manière relative */
}

/* Style pour le contenu du hero header */
.hero-content {
    background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent noir */
    padding: 20px; /* Ajoute un remplissage interne */
    border-radius: 10px; /* Arrondit les coins du fond */
}

/* Style pour le titre principal du hero header */
.hero-header h1 {
    font-size: 4em; /* Taille de la police très grande pour le titre principal */
    margin: 0; /* Enlève les marges par défaut */
}

/* Style pour le paragraphe du hero header */
.hero-header p {
    font-size: 1.5em; /* Taille de la police augmentée pour le paragraphe */
}

h2 {
    text-align: center; /* Centre le contenu du conteneur du titre*/
    font-size: 50px;
    margin: 0px;
    padding: 15px;
}

.section-presentation {
    background-color: rgb(42, 52, 190);
}
.elephant, .sql , .html, .css3, .js {
    width: 20%;
    height: 35%;
    border-radius: 30px;
   
}
h3 {
    text-decoration-line: underline;
    font-size: 30px;
   
}
.competances {
    background-color:orangered;
}
.texte-technique {
    display: flex;
    background-color: rgb(196, 196, 66);
    width: 65%;
    height: 90%;
    padding: 95px;
    border-radius: 30px;

}
.back-front-technique {
    display: flex;
    margin: auto;
    padding: 3%;
}
.texte-presentation {
    background-color: rgb(0, 136, 255);
    width: 35%;
    height: 25%;
    display: flex;
    padding: 125px;
    border-color: blueviolet;
    border-radius: 30px;
}

.photo-texte {
    display: flex;
    width: 70%;
    justify-content: center;
    padding: 3%;
    margin: auto;
    gap: 2%;
}
.photo-yannick {
    width: 50%;
    
} 

.yannick {
    width: 100%;
    height: 100%;
    border-radius: 30px;
}
.texte-experience{
    background-color: rgb(0, 136, 255);
    width: 65%;
    
    justify-content: center;
    margin: auto;
    border-radius: 10px;
    height: 55%;
}
.experience{
    background-color: rgb(233, 233, 45);
    height: 200px;
}
.description-experience{
    padding: 2%;
}

