/* Style pour le "hero header" */
.hero-header {
    background-image: url('../images/developpeur-web.jpg'); /* Image de fond pour le hero header */
    background-size: cover; /* Assure que l'image de fond couvre tout le header */
    background-position: center; /* Centre l'image de fond */
    height: 100vh; /* Hauteur de 100% de la fenêtre */
    width: 100%; /* Largeur de 100% de la fenêtre */
    color: white; /* Couleur du texte en blanc */
    display: flex; /* Utilise flexbox pour centrer le contenu */
    align-items: center; /* Centre verticalement le contenu */
    justify-content: center; /* Centre horizontalement le contenu */
    text-align: center; /* Centre le texte */
    position: relative; /* Positionne le header de manière relative */
}

/* Style pour le contenu du hero header */
.hero-content {
    background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent noir */
    padding: 20px; /* Ajoute un remplissage interne */
    border-radius: 10px; /* Arrondit les coins du fond */
}

/* Style pour le titre principal du hero header */
.hero-header h1 {
    font-size: 4em; /* Taille de la police très grande pour le titre principal */
    margin: 0; /* Enlève les marges par défaut */
}

/* Style pour le paragraphe du hero header */
.hero-header p {
    font-size: 1.5em; /* Taille de la police augmentée pour le paragraphe */
}
/* (h2) */
h2 {
    text-align: center; /* Centre le contenu du conteneur du titre*/
    font-size: 50px; /* Taille titre */
    margin: 0px; /* Taille de la police pour le sous-titre */
    padding: 15px;/* Ajoute un remplissage interne */
}
/* section présentation */
.section-presentation {
    background-color: rgb(42, 52, 190);/*couleur fond */
}
/* images (élèphant, sql, html, css3, js) */
.elephant, .sql , .html, .css3, .js {
    width: 20%;/*largeur*/
    height: 35%;/*hauteur*/
    border-radius: 30px;/* bord arrondis*/
   
}
/* h3 */
h3 {
    text-decoration-line: underline;/* Souligne le texte */
    font-size: 30px;/* Taille du titres h3 */
   
}
/* compétences */
.competances {
    background-color:orangered;/*couleur fond */
}
/* texte technique */
.texte-technique {
    display: flex;/* Utilise flexbox pour le conteneur */
    background-color: rgb(196, 196, 66);/*fond couleur */
    width: 65%;/* Largeur */
    height: 90%;/* Hauteur */
    padding: 95px;/* Ajoute un remplissage interne */
    border-radius: 30px; /* Arrondit les coins */

}
/* back-end et front-end */
.back-front-technique {
    display: flex;/* Utilise flexbox pour le conteneur */
    margin: auto;/* Centre le conteneur horizontalement */
    padding: 3%;/* Ajoute un remplissage interne */
}
/*texte-presentation*/
.texte-presentation {
    background-color: rgb(0, 136, 255);/* fond couleur*/
    width: 35%;/*largeur*/
    height: 25%;/*hauteur*/
    display: flex;/* Utilise flexbox pour le conteneur */
    padding: 125px;/* Ajoute un remplissage interne */
    border-color: blueviolet;/* couleur bordure*/
    border-radius: 30px;/* bord arrondi */
}
/* photo-texte*/
.photo-texte {
    display: flex;/* Utilise flexbox pour le conteneur */
    width: 70%;/*largeur*/
    justify-content: center; /* Centre les éléments horizontalement */
    padding: 3%;/* Ajoute un remplissage interne */
    margin: auto;/* Centre le conteneur horizontalement */
    gap: 2%;/* Ajoute un espacement entre les éléments */
}
/* photo de Yannick */
.photo-yannick {
    width: 50%;/*largeur*/
} 
/* image de Yannick */
.yannick {
    width: 100%;/*largeur*/
    height: 100%;/*hauteur*/
    border-radius: 30px;/*coin arrondi*/
}
/* texte-experience*/
.texte-experience {
    background-color: rgb(0, 136, 255);/* couleur fond */
    width: 65%;/*largeur*/
    justify-content: center;/* Centre les éléments horizontalement */
    margin: auto;/* Centre le conteneur horizontalement */
    border-radius: 10px;/*coin arrondi*/
    height: 55%;/*hauteur*/
}
/*experience*/
.experience {
    background-color: rgb(233, 233, 45);/*couleur fond */
    height: 200px;/*hauteur*/
}
/*description-experience*/
.description-experience {
    padding: 2%;/* Ajoute un remplissage interne */
}

