/*fond image cv*/
.background-bulle {
    background-image: url("../images/bulle.jpg");/*image fond */
    background-size: cover; /* Assure que l'image de fond couvre tout le header */
    background-position: center; /* Centre l'image de fond */
    height: 100vh; /* Hauteur de 100% de la fenêtre */
    width: 100%; /* Largeur de 100% de la fenêtre */
    margin: auto;/* Centre le conteneur horizontalement */
}
/*h1*/
h1 {
    text-align: center;/*centre texte*/
    font-size: 35px;/*hauteur lettre*/
}
/*h2,h3*/
h2 , h3 {
    text-align: center;/*centre texte*/
    font-size: 25px;/*hauteur lettre*/
}
/*h3*/
h3 {
    text-align: center;/*centre texte*/
    font-size: 25px;/*hauteur lettre*/
}
/*texte-competences*/
.texte-competences {
    background-color: rgb(255, 102, 0);/*fond de couleur*/
    font-size: 20px;/*hauteur lettre*/
    width: 60%;/*largeur*/
    color: black;/*couleur lettre*/
    padding: 60px;/* Espacement dans le bouton */
    align-content: center;/*centre texte*/
    height: 40%;/*hauteur */
    margin: auto;/* Centrer l'élément */
    border-radius: 30px;/*bord arrondi*/
   
}
/*texte-parcour*/
.texte-parcour {
    text-align: center;/*centre texte*/
    color: black;/*color texte*/
    font-size: 15px;/*hauteur de lettre*/
    text-align:left;/*texte a droite*/
    width: 30%;/*hauteur*/
}
/*paragraphe-parcour*/
.paragraphe-parcour {
    background-color: aqua;/*couleur de fond*/
    width: 65%;/*hauteur*/
    padding: 10px;/* Ajoute un remplissage interne */
    margin: auto;/*centrer*/
    border-radius: 30px;/* coin arrondis*/
}
/*texte-parcour*/
p.texte-parcour {
    color: black;/*couleur texte*/
    width: 70%;/*largeur*/
    margin: auto;/*centrage*/
    text-align: center;/*texte centrer*/
}
/*h3*/
h3.competences {
    width: 100%;/*largeur*/
}
/*p.ul,li*/
p.ul,li {
    color: black;/*couleur liste*/
}
/*texte-formation*/
p.texte-formation {
    color: black;/*couleur texte*/
    width: 60%;/*largeur*/
    height: 35%;/*hauteur*/
    margin: auto;/*centrer*/
    text-align: center;/*texte centrer*/
}
/*paragraphe-formation,qualites,loisir*/
.paragraphe-formation, .paragraphe-qualites, .paragraphe-loisirs {
    width: 65%;/*largeur*/
    margin: auto;/*centrer*/
    padding: 10px;/* Ajoute un remplissage interne */
}
/*paragraphe-formation*/
.paragraphe-formation {
    background-color: pink;/*couleur fond*/
    border-radius: 30px;/*coin arrondi*/
}
/*paragraphe-qualites*/
.paragraphe-qualites {
    background-color: greenyellow;/*couleur fond*/
    border-radius: 30px;/*coin arrondi*/
}
/*paragraphe-loisir*/
.paragraphe-loisirs {
    background-color: aquamarine;/*couleur fond*/
    border-radius: 30px;/*coin arrondi*/
}
/*bloc-loisirs*/
.bloc-loisirs {
    padding: 25px;/* Ajoute un remplissage interne */
}





