/*body*/
body{
    background-color: lightgray;/*couleur fond*/
    margin: auto;/*marge*/
}
/*h1*/
h1 {
    text-align: center;/* texte centrer*/
    font-size: 50px;/* hauteure de lettre*/
    text-decoration: underline;
}
/*texte1*/
.texte1 {
    color: black;/* couleur texte*/
    width: 100%;/* hauteure*/
    justify-items: center;/* Centre les éléments horizontalement */
    text-align: center;/*centre le texte*/
    padding: 5px;/* Ajoute un remplissage interne */
}
/*projet1*/
.projet1 {
    width: 22%;/*hauteur*/
    text-align: center;/*centre texte*/
    background-color: brown;/*couleure de fond*/
}
/*image-capture*/
img.Capture1 {
    width: 100%;/*largeur*/
    height: 640px;/*hauteur*/
}
/*texte-projet1*/
.texte-projet1 {
    width: 22%;/*largeur*/
    background-color: brown;/*couleur fond*/
}
/*capture-ecran1*/
.Capture-ecran1 {
    background-color: blue;/* couleur fond*/
    height: 635px;/*hauteur*/
    width: 22%;/*largeur*/
}
/*bouton*/
.bouton {
    display: flex;/* Utilise flexbox pour le conteneur */
    justify-content: center;/* Centre les éléments horizontalement */
    align-items: center;/*centre texte*/
    height: 30px;/*hauteur*/
}
/*bouton savoir*/
.bouton-savoir {
    border-radius: 30px;/*coin arrondi*/
}
/*bloc-projet1*/
section.bloc-projet1{
    margin: 5%;/*marge*/
    width: 30%;/*largeur*/
}
/*projet1,capture,texte*/
.projet1 ,.Capture-ecran1 ,.texte-projet1{
    width: 100%;/*largeur*/
}

